@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita+Swashed:wght@400;700&display=swap');

body{
	margin: 0;
	padding: 0;
	background-image: url(/img/bg_section.jpg);
	background-size: contain;
}

.menuHead{
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	font-family: 'Sansita Swashed', cursive;
}

.menuContainer{
	display: flex;
	flex-direction: column;
	align-content: center;
}

.pizzaContainer{
	margin-top: 40px;
}

.imgContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.imgPizza{
	width: 50vw;
	transform: scale(1);
	transform-origin: 50% 50%;
	transition: 400ms transform;
	transform-box: fill-box;
}

.imgPizza:hover{
	transform: scale(1.1);
}

.textContainer h4{
	text-align: center;
	font-family: 'Sansita Swashed', cursive;
	font-size: 24px;
}

.textContainer p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.price{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.background{
	padding-bottom: 100px;
}

@media (min-width: 1024px){
	.menuContainer{
		flex-direction: row;
		flex-flow: wrap;
	}

	.pizzaContainer{
		width: 50%;
	}

	.imgPizza{
		width: 20vw;
	}

	.imgContainer{
		padding: 70px;
	}
}

.bookingDiv{
	background-color: rgb(155, 23, 23);
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	color: white;
}

.bookingDiv h2{
	font-size: 50px;
	font-family: 'Sansita Swashed', cursive;
}

.bookingDiv button{
	width: 300px;
	height: 70px;
	font-size: 26px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	background-color: transparent;
	border: 5px solid white;
}

.bookingDiv button:hover{
	color: rgb(155, 23, 23);
	background-color: white;
	cursor: pointer;
}

.bookingDiv img{
	width: 100px;
	padding-bottom: 50px;
}